@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: black;
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    color: lightgray
}

a, a:hover {
    color:inherit;
    text-decoration: none;
   }

#social-links {
    position: fixed;
    margin: 20px;
    font-size: 1.5rem;
    color: grey;
    letter-spacing: .3rem;
    i {
        opacity: 0.7;
    }   
    i:hover {
        opacity: 1;
    }
}

#social-links:hover {
    cursor: pointer;
}



#main-menu {
    position: fixed;
    right: 0%;
    top: 0%;
    margin: 20px;
    font-size: 1.5rem;
    color: grey;
    letter-spacing: .3rem;
    opacity: 0.7;
}

#main-menu:hover {
    opacity: 1;
    cursor: pointer;
    transform: rotate(90deg);
    transition: 300ms linear all;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid grey;
}

#profile-pic {
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
    overflow: hidden;
    opacity: .7;

    img {
        width: 40vh;
        animation: subtlefade 1s 1;
    }

    @keyframes subtlefade {
        0%{
            opacity: .1;
        }
        50%{
            opacity: .7
        }
        100%{
            opacity: 1;
        }
    }
}

#bio {
    padding-left: 200px;
    padding-right: 200px;
    font-size: 2rem;
        p {
            line-height: 3rem;   /* within paragraph */
            margin-bottom: 3rem; /* between paragraphs */
            }
}


#welcome-splash {
    // margin-top: 100px;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        display: block;
        // text-transform: uppercase;
    }

    .text0 {
        font-size: 30px;
        color: grey;
        animation: fadein 1s 1;
    }

    .text1 {
        text-align: center;
        color: white;
        font-size: 85px;
        font-weight: 700;
        width: 100%;
        letter-spacing: 4px;
        margin-bottom: 0px;
        background: black;
        position: relative;
        animation: text 3s 1;
    }

    .text2 {
        font-size: 30px;
        color: grey;
        animation: fadein 3s 1;
    }

    @keyframes fadein {
        0%{ opacity: 0;
            filter: blur(1.5rem);
        }
        50%{ opacity: 0;
            filter: blur(1.5rem);
        }
        75%{
            opacity: 1;
            filter: blur(1.5rem);
        }
        100%{
            filter: blur(0);
        }
    }

    @keyframes text {
        0%{
            color: black;
            margin-bottom: -40px;
        }
        25%{
            color: black;
            margin-bottom: -40px;
        }
        50%{
            letter-spacing: 12px;
            margin-bottom: -40px;
        }
        75%{
            letter-spacing: 4px;
            margin-bottom: -40px;
        }

    }
}

.section-title {
    margin: 20px;
}

#technologies {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.down-button {
    border: 3px solid #212529;
    color: #212529;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms linear all;
    animation: delay 1s 1;
}

.down-button:hover {
    border: 3px solid grey;
    color: grey;
    transform: rotate(90deg);
    // animation: rotate .5s 1;
    transition: 200ms linear all;
    cursor: pointer;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(45deg)
    }
    100%{
        transform: rotate(90deg)
    }
}

@keyframes delay {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

header {
    background-color: #090B20;
    color: white;
    display: flex;
    padding: 0 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    h1 {
        display: flex;
    }
}

nav ul li {
    display: inline-block;
    margin: 10px 35px;
}

#bioPage {
    background-color: #252740;
    color: white;
    padding: 50px;
}



.card {
    width: 300px;
    border: 1px solid lightgray;
    margin: 10px;
    text-align: center;
    padding: 15px;

    .cardTitle {
        font-size: 1em;
        font-weight: bold;
        padding: 15px 0px;
    }

    .cardDescription {
        font-size: 1em;
        padding: 7px 0px;
    }

    img {
        width: 250px;
    }
}


.cardTechnologiesUsed {
    font-size: .8em;
    padding: 7px 0px;
    color: gray;
}

.card .cardLink {
    padding: 3px 0px;
}

.card .cardLink a:link,
.card .cardLink a:visited {
    color: #F92E49;
    text-decoration: none;   
}

.card .cardLink a:hover {
    color: #252740;
}

#projectsPage {
    margin: 50px 200px;
    text-align: center;
}

.subheading {
    color: gray;
    padding: 0px 150px 5px;
}

#projectsGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.highlight-text {
    color: #F92E49;
}

footer {
    background-color: #FFEDDF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 100px;
}

footer a:link,
footer a:visited {
    color: black;
    text-decoration: none;   
}

footer a:hover {
    color: #252740;
}
